<div class="card-group">
    <div class="card">
      <img src="../../assets/img/amnesia.webp" class="card-img-top" alt="Amnesia">
      <div class="card-body">
        <h5 class="card-title">Amnesia</h5>
        <p class="card-text">Leonard es un investigador de una agencia de seguros cuya memoria está irreversiblemente dañada por culpa de un golpe en la cabeza, al intentar evitar el asesinato de su mujer: éste es el último hecho que recuerda del pasado.</p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/davinci.webp" class="card-img-top" alt="Codigo Davinci">
      <div class="card-body">
        <h5 class="card-title">El código Da Vinci</h5>
        <p class="card-text">Un asesinato en el Museo del Louvre y pistas en las pinturas de Leonardo da Vinci conducen al descubrimiento de un misterio religioso que podría estremecer las bases del cristianismo.</p> </div>
    </div>
    <div class="card">
      <img src="../../assets/img/asesino.webp" class="card-img-top" alt="Asesino de las postales">
      <div class="card-body">
        <h5 class="card-title">El asesino de las postales</h5>
        <p class="card-text">La hija del detective neoyorquino Jacob Kanon ha sido asesinada poco después de casarse. Cuando Kanon se entera de esta terrible noticia, decide buscar al responsable del crimen a cualquier precio.</p>
      </div>
    </div>
  </div>
